<div class="row">
	<div class="medium-6 small-12 columns">
		<h3>Knowledge</h3>
		<ul>
			<li><%= link_to('Investopedia', "http://www.investopedia.com/", :target => "_blank") %></li>
			<li><%#= link_to('', '', target: '_blank') %></li>
		</ul>
	</div>
	<div class="medium-6 small-12 columns">
		<h3>Knowledge</h3>
		<ul>
			<li data-tooltip aria-haspopup="true" title="Based on CME Group 30-Day Fed Fund futures prices, which have long been used to express the market’s views on the likelihood of changes in U.S. monetary policy, the CME Group FedWatch tool allows market participants to view the probability of an upcoming Fed Rate hike."><%= link_to('Fed Watch Tool', 'http://www.cmegroup.com/trading/interest-rates/countdown-to-fomc.html', target: '_blank') %></li>
			<li data-tooltip aria-haspopup="true" title="Explains announcements from the Fed in a way that is easy to understand."><%= link_to('What the Fed said', 'http://www.bankrate.com/finance/federal-reserve/what-did-federal-reserve-say.aspx', target: '_blank') %></li>
		</ul>
	</div>
</div>