<div class="row">
	<div class="medium-12">
		<h1>Resources</h1>
		<table>
		  <tr>
		    <th>Link</th>
		    <th>Title</th>
		    <th>Description</th>
		  </tr>
		 
		  <% @resources.each do |resource| %>
		    <tr>
		      <td><%= link_to(resource.link, resource.link, target: '_blank') %></td>
		      <td><%= resource.title %></td>
		      <td><%= resource.description %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
</div>