<h1>Helping you make your first trade a smart one</h1>
<p>asmart.trade is meant to help people just getting into investing. The goal is to provide knowledge of practices that the investor either wants to avoid or adopt, how to avoid common pitfalls, different strategies for choosing investments and any thing else actionable in the investing world. This is not meant to be a definition and explanation resource for general investing terms. It is geared more toward the knowledge and sitautions investors find themselves in while actively investing. Let's make that first trade a smart one.</p>

<h2>Categories</h2>
<ul>
	<li><a href="/resources/index">Resources</a></li>
	<li><a href="">Wisdom</a></li>
	<li><a href="">Stock Analysis</a></li>
	<li><a href="">Testing</a></li>
</ul>


